{% extends "base.html" %}

{% block sarlavha %}{{ sarlavha }} - {{ SAYT_NOMI }}{% endblock %}
{% block bolim_nomi %}Foydalanuvchi{% endblock %}

{% block ichki %}
<div class="panel" style="max-width:700px">
  <div class="panel-sarlavha">{{ sarlavha }}</div>
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="panel-ich">
      {% if form.non_field_errors %}
        {% for xato in form.non_field_errors %}<div class="xabar error">{{ xato }}</div>{% endfor %}
      {% endif %}

      <div class="forma-setka">
        {% include "_maydon.html" with maydon=form.last_name %}
        {% include "_maydon.html" with maydon=form.first_name %}
        {% include "_maydon.html" with maydon=form.telefon %}
        {% include "_maydon.html" with maydon=form.username %}
        {% include "_maydon.html" with maydon=form.parol1 %}
        {% include "_maydon.html" with maydon=form.parol2 %}
        {% include "_maydon.html" with maydon=form.rol %}
        {% include "_maydon.html" with maydon=form.saytga_kira_oladi %}
      </div>

      <div class="xabar info mayda">
        <b>Sayt admini</b> - hamma narsani qila oladi: xodim oyligini tayinlash,
        yozuvni o'chirish, foydalanuvchilarni boshqarish.<br>
        <b>Operator</b> - o'quvchi qo'shadi, to'lov qabul qiladi, hisobotlarni ko'radi;
        oylik tayinlay olmaydi va yozuv o'chira olmaydi.
      </div>
    </div>
    <div class="oyna-past" style="border-radius:0 0 10px 10px">
      <a href="{% url 'accounts:shaxsiy' %}" class="tugma">Bekor qilish</a>
      <button type="submit" class="tugma asosiy">Saqlash</button>
    </div>
  </form>
</div>
{% endblock %}
